<div class="poster">
    <div class="hover">
        <p id="text" class="text-white text-center fs-5">Restaurant Mishiguene</p>
        <p class="text-white text-center fs-5">Delivering great food for more than 18 Years!</p>
    </div>
    <div id="buttons">
        <a routerLink="/menu" class="btn btn-success ">Our Menu</a>
        <a class="btn btn-success ">Book a table</a>
    </div>
</div>
<div>
    <p class="text1">Restaurante Mishiguene</p>
</div>
<div class="description">

    <div class="infos" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2015/05/31/11/23/table-791167_1280.jpg" class="img-fluid rounded-start" height="400px" width="300px" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Restaurant with traditon and great food</h5>
              <p class="card-text">Welcome to Mishiguene, where culinary delights await you. We specialize in Italian cuisine, offering a diverse and mouthwatering menu that will tantalize your taste buds.Our talented chefs craft each dish with passion and creativity, using only the finest ingredients sourced from local farmers and suppliers. From our delectable appetizers to our signature main courses and irresistible desserts, every plate is a masterpiece that reflects our commitment to quality and flavor.We also offer a selection of carefully curated beverages, including a variety of wines, handcrafted cocktails, and refreshing non-alcoholic options, perfectly complementing your meal.</p>
              
            </div>
          </div>
        </div>
      </div>

</div>
